<h1>Create a new Owner</h1>

<form action="/owners" method="POST">

  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]">

  <br></br>

  <%@pets.each do |pet|%>
  <!-- we give check box ids so when checked, it can be tracked -->
  <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>">
  <%=pet.name%></input>
<%end%>

  <br></br>
<h2> Choose Exisiting pets or create a New Pet</h2>
  <h3>Create a Pet</h3>
  
<!-- CREATING A NEW OWNER AND ASSOCIATING THEM WITH A NEW PET -->
  <h3>Name: <input type="text" name="pet[name]" value="create pet"></h3>

<br>
<br>
  <input type="submit" value="Create Owner">


</form>
